<%= stylesheet_link_tag "/stylesheet" %>
<div align="center">
  <h1>higherLOWER</h1>
  <%= link_to "New Game", new_game_path %>
  <p></p>
</div>

<div class="grid">
  <% @games.each do |game| %>
    <div class="item">
      <%= link_to game.name, game %>
    </div>
  <% end %>
</div>